@model IEnumerable<Planillas.AREA>

@{
    ViewBag.Title = "AREA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AREA</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.NOMBRE_AREA)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_AREA)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CODIGO_AREA }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CODIGO_AREA }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CODIGO_AREA })
                </td>
            </tr>
        }
    }
    
</table>
