@model IEnumerable<Planillas.V_TRASLADOS>

@{
    ViewBag.Title = "TRASLADO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Traslados</h2>

<p>
    <button type="button" class="btn btn-primary"> @Html.ActionLink("Nuevo", "Create")</button>
</p>
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Empleado
            </th>
            <th>
                Fecha
            </th>
            <th>
                Origen
            </th>
            <th>
                Destino
            </th>
            <th>
                Puesto
            </th>
            <th>
                Estado
            </th>
            <th>
                Usuario Autoriza
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGO_TRASLADOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_TRASLADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_AREA_ORIGEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_AREA_DESTINO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_TIPO_EMPLEADO_DESTINO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_TRASLADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO_CREA)
        </td>
        <td>

            <button type="button" class="btn btn-success">@Html.ActionLink("Modificar", "Edit", new { id = item.CODIGO_TRASLADOS })</button>
            <button type="button" class="btn btn-secondary">@Html.ActionLink("Detalles", "Details", new { id = item.CODIGO_TRASLADOS })</button>
            <button type="button" class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", new { id = item.CODIGO_TRASLADOS })</button>
        </td>
    </tr>
        }

    </table>
