@model Planillas.V_EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_EMPLEADO)
        </dd>

        <dt>
            Fecha Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

        <dt>
            Sexo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            País
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PAIS)
        </dd>

        <dt>
            Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DEPARTAMENTO)
        </dd>

        <dt>
            Municipio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_MINICIPIO)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            Estado Civil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_CIVIL)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO_ELECTRONICO)
        </dd>

        <dt>
            Lugar Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUGAR_NACIMIENTO)
        </dd>

        <dt>
            DUI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUI)
        </dd>

        <dt>
            NIT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIT)
        </dd>

        <dt>
            AFP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFP)
        </dd>

        <dt>
            SEGURO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGURO)
        </dd>

        <dt>
            NUP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUP)
        </dd>

        <dt>
            Tipo Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_TIPO_EMPLEADO)
        </dd>

        <dt>
            Fecha Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INGRESO)
        </dd>

        <dt>
            Fecha Retiro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_RETIRO)
        </dd>

        <dt>
            Usuario Creación.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_CREA)
        </dd>

        <dt>
            Fecha Creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREA)
        </dd>

        <dt>
            Activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVO)
        </dd>

        <dt>
            Area
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_AREA)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-success">@Html.ActionLink("Modificar", "Edit", new { id = Model.CODIGO_EMPLEADO })</button>
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Regresar", "EMPLEADO")</button>
</p>
