@model IEnumerable<Planillas.V_EMPLEADOS>

@{
    ViewBag.Title = "EMPLEADO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<p>
    <button type="button" class="btn btn-primary"> @Html.ActionLink("Nuevo", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            Empleado
        </th>
        <th>
            Fecha de Nacimiento
        </th>
        <th>
            Sexo
        </th>
        <th>
            País
        </th>
        <th>
            Departamento
        </th>
        <th>
            Municipio
        </th>
        <th>
            Dirección
        </th>
        <th>
            Estado Civil
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Email
        </th>
        <th>
            Lugar de Nacimiento
        </th>
        <th>
            DUI
        </th>
        <th>
            NIT
        </th>
        <th>
            AFP
        </th>
        <th>
            SEGURO
        </th>
        <th>
            NUP
        </th>
        <th>
            Tipo Empleado
        </th>
        <th>
            Fecha Ingreso
        </th>
        <th>
            Fecha Retiro
        </th>
        <th>
            Usuario Crea.
        </th>
        <th>
            Estado
        </th>
        <th>
            Area
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_EMPLEADO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FECHA_NACIMIENTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_SEXO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_PAIS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_DEPARTAMENTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_MINICIPIO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIRECCION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_ESTADO_CIVIL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TELEFONO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CORREO_ELECTRONICO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LUGAR_NACIMIENTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DUI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NIT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_AFP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SEGURO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NUP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_TIPO_EMPLEADO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FECHA_INGRESO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USUARIO_CREA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ACTIVO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_AREA)
    </td>
    <td>

        <button type="button" class="btn btn-success">@Html.ActionLink("Modificar", "Edit", new { id = item.CODIGO_EMPLEADO })</button>
        <button type="button" class="btn btn-secondary">@Html.ActionLink("Detalles", "Details", new { id = item.CODIGO_EMPLEADO })</button>
        <button type="button" class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", new { id = item.CODIGO_EMPLEADO })</button>
    </td>
</tr>
        }
    }

    </table>
