@model IEnumerable<Planillas.EMPLEADO>

@{
    ViewBag.Title = "EMPLEADO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EMPLEADO</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRIMER_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGUNDO_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIMER_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEXO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MUNICIPIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_CIVIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO_ELECTRONICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUGAR_NACIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AFP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGURO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_RETIRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO_CREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO_ACTUALIZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ACTUALIZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PRIMER_NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEGUNDO_NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRIMER_APELLIDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEGUNDO_APELLIDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_NACIMIENTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEXO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAIS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPARTAMENTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MUNICIPIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIRECCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO_CIVIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TELEFONO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CORREO_ELECTRONICO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LUGAR_NACIMIENTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DUI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AFP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEGURO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NUP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_EMPLEADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_INGRESO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USUARIO_CREA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_CREA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USUARIO_ACTUALIZA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_ACTUALIZA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACTIVO)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CODIGO_EMPLEADO }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CODIGO_EMPLEADO }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CODIGO_EMPLEADO })
                </td>
            </tr>
        }
    }

    </table>
